Data/DEM/Aven_DEM_LiDAR.tif
Data/DEM/Belon_DEM_LiDAR.tif
Data/DEM/SajaNorth_DEM_LiDAR.tif
Data/DEM/SajaSouth_DEM_LiDAR.tif
Data/DISCOV/Aven_1104_MS_V2_DISCOV_InvaSea_26112024_pred.tif
Data/DISCOV/Belon_1104_MS_DISCOV_InvaSea_26112024_pred.tif
Data/DISCOV/Saja_South_25062024_DISCOV_InvaSea_26112024_pred.tif
Data/Model/FullDF_10timesResample_DEMSlope_PredPercent.csv
Data/RGB/Belon_RGB_LiDAR.tif
Data/RGB/Belon_RGB_LiDAR_cropped.tif
Data/RGB/Belon_RGB_MULTI.tif
